:root {
    --main-font : 'Rowdies', cursive;
    --secondary-font: 'Open Sans', sans-serif;
    --main-bg: rgba(120, 119, 115,0.3);
    --secondary-bg: rgb(233, 240, 233);
    --main-gap: 50px;
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */
}

h2.sub-title {
    font-family: var(--main-font);
    margin-bottom: 15px;
}

p {
    font-family: var(--secondary-font);
    margin-bottom: 10px;
}

#contribution-list {
    font-family: var(--secondary-font);
}

#contribution-list li {
    margin: 5px;
    margin-left: 20px;
}
/* ********************** */

/* Styles to the main element */
#main {
    background-color: var(--main-bg);
    padding: var(--main-gap);    
}
/* **************************** */


/* Styles to title */
#title {
    text-align: center;
    font-family: var(--main-font);
    margin-bottom: var(--main-gap);
}
/* ******************************* */


/* Image related styles */
#img-div {
    background-color: var(--secondary-bg);
    padding: var(--main-gap);
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#img-caption {
    margin: 8px 0;
    font-weight: normal;
    font-weight: bold;
    text-align: center;
}
/* ************************************* */

/* Styles to tribute info ssection */
#tribute-info {
    margin: var(--main-gap);
}

#tribute-info div{
    margin: var(--main-gap) 0;
}

#tribute-link {
    text-align: center;
}
/* ************************************* */
